<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>todo</title>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+SC|Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/styles.css" >
</head>
<body>
    <div class="header">
        <button style="cursor: pointer;" onclick="newTab()">New List</button>
    </div>
    <br>

    <div class="flex-container">
        <div id="0" class="column"></div>
        <div id="1" class="column"></div>
        <div id="2" class="column"></div>
        <div id="3" class="column"></div>
    </div>

    <div id="modal" class="modal"></div>

    <script src="https://cdn.jsdelivr.net/npm/autosize@4.0.2/dist/autosize.min.js"></script>
    <script src="script.js"></script>
</body>
</html>